<h1>Bienvenidos al sistema del estacionamiento!!</h1>
<h3>Menu del software</h3>
<ul>
    <li>Agregar Cliente</li>
    <li>Crear Registro</li>
    <li>Ver Registros</li>
    <li>Ver Clientes</li>
</ul>